<style>
  body {
    font-family: Arial;
  }

  h1 {
    width: 585px;
  }

  h1 a {
    float: right;
    font-size: 20px;
    line-height: 37px;
  }

  .qa {
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 585px;
    border-bottom: 1px solid black;
  }

  .question {
    color: rgb(104, 154, 231);
    font-weight: bold;
    width: 250px;
    display: inline-block;
  }

  .answer {
    color: rgb(228, 98, 221);
    border-left: 1px solid black;
    width: 250px;
    display: inline-block;
    padding-left: 15px;
  }

  .edit {
    width: 100px;
    border-left: 1px solid black;
    padding-left: 15px;
  }

  @page {
    margin:0px auto;
  }

  @media print {
    h1 {
      text-align: center;
      width: 100%;
    }

    .question, .answer {
      color: black;
      width: 48%;
      height: 100px;
      vertical-align: middle;
      text-align: center;
      line-height: 100px;
    }

    .edit {
      display: none;
    }

    .new-question {
      display: none;
    }

    .qa {
      width: 100%;
      border-bottom: 1px dashed black;
      border-top: 1px dashed black;
      padding-bottom: 0;
    }

    .question {
      border-left: 1px dashed black;
    }

    .answer {
      border-left: 1px dotted black;
      border-right: 1px dashed black;
    }
  }
</style>

<h1>Study Questions <%= link_to 'New Question', new_question_path, class: 'new-question' %></h1>

<% @questions.each do |question| %>
  <div class='qa'>
    <span class="question">
      <%= link_to question.question, question_path(question) %>
    </span>
    <span class="answer">
      <%= question.answer %>
    </span>
    <span class="edit">
      <%= link_to 'Edit', edit_question_path(question) %>
    </span>
  </div>
<% end %>
